body {
    background-color: #f8f9fa;
    font-family: "Segoe UI", sans-serif;
}

h2 {
    color: #0d6efd;
}

.table {
    border-radius: 12px;
    overflow: hidden;
    background: white;
}

    .table th {
        font-weight: 600;
        text-transform: uppercase;
    }

.status {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 500;
}

    .status.pending {
        background-color: #ffc107;
    }

    .status.approved {
        background-color: #28a745;
    }

    .status.rejected {
        background-color: #dc3545;
    }

.btn-action {
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    color: white;
}

.btn-approve {
    background-color: #198754;
}

.btn-reject {
    background-color: #dc3545;
}

.btn-approve:hover {
    background-color: #157347;
}

.btn-reject:hover {
    background-color: #bb2d3b;
}