
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cafe Management</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CafeManagent.styles.css" asp-append-version="true" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>

    <style>
        /* Hộp thông báo nhỏ ở góc phải */
        .toast {
            position: fixed;
            top: 20px;
            right: 20px;
            background: #333;
            color: #fff;
            padding: 10px 16px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            display: flex;
            align-items: center;
            gap: 8px;
            opacity: 0;
            transform: translateY(-10px);
            transition: all 0.3s ease;
            z-index: 9999;
        }
        .toast.show {
            opacity: 1;
            transform: translateY(0);
        }
        .toast.success {
            background: #2e7d32;
        }
        .toast.error {
            background: #c62828;
        }
        #sidebar {
    background: linear-gradient(180deg, #1fa2ff, #0076ff) !important;
}
#sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}
    </style>

    @await RenderSectionAsync("Styles", required: false)
</head>

<body>

    <div class="d-flex" id="0">

        <!-- SIDEBAR FOR STAFF -->
        <div class="bg-info text-white p-3" id="sidebar">
            <h4 class="text-center mb-4">
                <i class="fa-solid fa-mug-hot me-2"></i> Cafe Management
            </h4>

            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link text-white" asp-controller="Attendance" asp-action="AttendanceDetail">
                        <i class="fa-solid fa-calendar-check me-2"></i>Chấm công
                    </a>
                </li>
                @if (Context.Session.GetString("StaffRole")?.Equals("Barista") == true){
                    <li class="nav-item mb-2">
                    <a class="nav-link text-white" asp-controller="Order" asp-action="Waiter">
                       <i class="fa-solid fa-receipt me-2"></i>Đơn hàng
                    </a>
                    </li>
                }
                else{
                     <li class="nav-item mb-2">
                        <a class="nav-link text-white" asp-controller="Order" asp-action="Bartender">
                       <i class="fa-solid fa-receipt me-2"></i>Đơn hàng
                    </a>
                     </li>
                }
                <li class="nav-item mb-2">
                    <a class="nav-link text-white" asp-controller="requestpersonal" asp-action="Index">
                        <i class="fa-solid fa-calendar-check me-2"></i>Yêu cầu cá nhân
                    </a>
                </li>
                 <li class="nav-item mb-2">
                    <a class="nav-link text-white" asp-controller="Task" asp-action="Detail">
                        <i class="fa-solid fa-list-check me-2"></i>Công việc
                    </a>
                </li>
               
                <li class="nav-item mb-2">
                    <a class="nav-link text-white" asp-controller="StaffWorkSchedule" asp-action="Index">
                        <i class="fa-solid fa-clock me-2"></i>Ca làm
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link text-white" asp-controller="CustomerProfile" asp-action="Index">
                        <i class="fa-solid fa-user me-2"></i>Thông tin khách hàng
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link text-white" asp-controller="Recipe" asp-action="Index">
                        <i class="fa-solid fa-book me-2"></i></i>Sản phẩm
                    </a>
                </li>

                <li class="nav-item mt-3 border-top pt-3">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket me-2"></i>Đăng xuất
                    </a>
                </li>
            </ul>
        </div>

        <!-- PAGE CONTENT -->
        <div id="page-content-wrapper" class="flex-grow-1 d-flex flex-column">

            <!-- TOPBAR -->
            <nav class="navbar navbar-expand navbar-light bg-light border-bottom px-4">
                <button class="btn btn-outline-secondary" id="menu-toggle">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="ms-auto d-flex align-items-center">

                    <!-- Bell notify -->
                    <div class="dropdown" style="margin-right: 20px">
                        <div id="notify-bell" class="position-relative" data-bs-toggle="dropdown" aria-expanded="false" style="cursor:pointer;">
                            <i class="fa-solid fa-bell fa-lg text-secondary"></i>

                            <!-- Dot -->
                            <span id="notify-dot"
                                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none"
                                  style="font-size: 10px; width:18px; height:18px; display:flex; align-items:center; justify-content:center;">
                                1
                            </span>
                        </div>

                        <!-- dropdown notify list -->
                        <ul id="notify-list"
                            class="dropdown-menu dropdown-menu-end shadow p-2"
                            style="width: 280px; max-height: 300px; overflow-y: auto;">
                            <li class="dropdown-header fw-bold text-center">Thông báo</li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="text-center text-muted">Chưa có thông báo nào</li>
                        </ul>
                    </div>

                    <span class="me-3 text-muted">Xin chào, <span>@Context.Session.GetString("StaffName") - @Context.Session.GetString("StaffRole")<span></span>

                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                         class="rounded-circle" width="35" height="35" alt="User" />
                </div>
            </nav>

            <!-- MAIN CONTENT -->
            <div class="container-fluid p-4 flex-grow-1">
                <main role="main" class="pb-3 h-100">
                    @RenderBody()
                </main>
            </div>

            <!-- FOOTER -->
            <footer class="border-top text-center py-3 text-muted mt-auto bg-white">
                &copy; 2025 - CafeManagent (Staff)
            </footer>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Response Toast -->
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/response")
            .build();

        connection.on("ReceiveResponseStatus", (isSuccess, msg) => {
            if (!msg) return;

            const toast = document.createElement("div");
            toast.classList.add("toast", isSuccess ? "success" : "error");

            const icon = document.createElement("span");
            icon.textContent = isSuccess ? "O" : "X";
            icon.style.fontWeight = "bold";
            icon.style.fontSize = "18px";

            const message = document.createElement("span");
            message.textContent = msg;

            toast.appendChild(icon);
            toast.appendChild(message);

            document.body.appendChild(toast);

            setTimeout(() => toast.classList.add("show"), 10);
            setTimeout(() => {
                toast.classList.remove("show");
                setTimeout(() => toast.remove(), 300);
            }, 3000);

            console.log(msg);
        });

        connection.start()
            .then(() => connection.invoke("GetCurrentNotify"))
            .catch(err => console.error(err));
    </script>

    <!-- Notify -->
    <script>
        let notifyCount = 0;
        const dot = document.getElementById("notify-dot");
        const list = document.getElementById("notify-list");
        const bell = document.getElementById("notify-bell");

        const notifyConnection = new signalR.HubConnectionBuilder()
            .withUrl("/notify")
            .build();

        function renderNotifyList(data) {
            list.innerHTML =
                `<li class="dropdown-header fw-bold text-center">Thông báo</li>
                 <li><hr class="dropdown-divider"></li>`;

            if (!data || data.length === 0) {
                list.innerHTML += `<li class="text-center text-muted">Chưa có thông báo nào</li>`;
                dot.classList.add("d-none");
                return;
            }

            notifyCount = data.length;
            dot.classList.remove("d-none");
            dot.textContent = notifyCount;

            data.forEach(n => {
                const li = document.createElement("li");
                li.classList.add("dropdown-item", "p-2", "border-bottom");

                li.innerHTML =
                    `<div class="fw-semibold">${n.message}</div>
                     <small class="text-muted">${n.time}</small>`;

                list.appendChild(li);
            });
        }

        notifyConnection.on("ReceiveNotify", (notifyList) => {
            renderNotifyList(notifyList);
        });

        notifyConnection.start()
            .then(() => {
                notifyConnection.invoke("GetAll")
                    .then(notifyList => renderNotifyList(notifyList))
                    .catch(err => console.error("error:", err));
            })
            .catch(err => console.error(err));

        // clear notify on click
        bell.addEventListener("click", () => {
            notifyConnection.invoke("Clear")
                .catch(err => console.error("error:", err));

            dot.classList.add("d-none");
            notifyCount = 0;
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
